.main-container {
  height: 750px;
  width: 850px;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die-container {
  height: 30%;
  width: 80%;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  /* grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px; */
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
  gap: 20px;
}
