.main-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 750px; */
  max-width: 550px;
}

.heading {
  font-size: 50px;
  margin-bottom: 0;
}

.paragraph {
  margin-top: 0;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  color: #4a4e74;
}

.main-container {
  height: 750px;
  width: 850px;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.die-container {
  height: 30%;
  width: 80%;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  /* grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px; */
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
  gap: 20px;
}

.roll-button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: #5035ff;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 10px 10px 15px -5px rgba(0, 0, 0, 0.7);
}
