.die-face {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
}

.die-num {
  /* font-size: 50px; */
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}
